@ColorTransparentDark: rgba(0,0,0,0.54);
@ColorTransparentBarelyDark: rgba(0,0,0,0.12);
@ColorBarelyTransparentGray: rgba(70,70,70,0.96);
@ColorTransparentLightDim: rgba(255,255,255,0.12);
@ColorTransparentLight: rgba(255,255,255,0.25);
@ColorTransparentLightBright: rgba(255,255,255,0.64);
@ColorNone : rgba(0,0,0,0);

@ColorDark: #333;
@ColorDarkDim: #777;
@ColorLightDim: #999;
@ColorLight: #bbb;
@ColorLightBright: #ccc;
@ColorLightBrighter: #ddd;

@TabBarHeight: 70px;
@TabBarFontSize: 24px;
@TabBarBigFontSize: 38px;
@MediumFont: 18px;
@LargeFont: 26px;

@TabBarPadTop: @TabBarHeight - @TabBarBigFontSize + 6;
@TabBarScrolledBgColor: rgba(225,0,0,0.9);

@ActiveTabLinkFontColor: #dd3333;
@MainFontColor: #eee;
@MainBgColor: #333;

@MenuBgColor: #bbb;
@MenuInputColor: #bababa;
@MenuFontColor: #333;


@ScreenNotSmall: (@TabBarFontSize * 8.5 + @TabBarHeight * 2 );
@ScreenMedium: (@TabBarBigFontSize * 13 + @TabBarHeight * 2 );
@ScreenLarge: (@TabBarBigFontSize * 20 + @TabBarHeight * 2 );
