eye[left] {
    animation: blink;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

eye[right] {
    animation: blink;
    animation-delay: 0.005s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {
        height: 10vmin;
    }
    97% {
        height: 10vmin;
    }
    98.5% {
        height: 0vmin;
    }
    100% {
        height: 10vmin;
    }
}
