@import "src/less/constants.less";
//// Every hover rule;


@media screen and (hover: hover) {
    button {
        &:hover {
            background-color: @ColorLightDim;
        }
    }

    ul.tab-bar {
        li {
            a {
                &:hover {
                    background-color: @ColorLight;
                    color: white;
                }

                &:active {
                    background-color: @ColorLight;
                }

                &::selection {
                    background-color: @ColorLight;
                }
            }
        }

        .icon {
            &:hover {
                background-color: @ColorLight;
            }
            &:active {
                background-color: @ColorLight;
            }
            &::selection {
                background-color: @ColorLight;
            }
        }
    }

    div {
        a:hover{
            background-color: @ColorLight;
        }

        .channels .channel:hover {
            background-color: @ColorTransparentLight;
        }

    }

    .player .player-info .player-track .track .item-info {
        &.hover {
            background-color: @ColorTransparentLightBright;
        }

        a:hover{
            background-color: @ColorLight;
        }
    }

    .item-info {
        &.hover {
            background-color: @ColorTransparentLightBright;
        }
    }

    .menu .tags .tag:hover {
        &:hover {
            background-color: @ColorTransparentLightBright;
        }
    }
}
