@import "src/less/constants.less";

.menu {
    position: fixed;
    z-index: 2;

    left: 0px;
    top: 0px;
    top: -1px;
    min-height: @TabBarHeight;
    max-height: 100%;

    border-radius: 0px 0px 0px 15px;
    box-shadow: -1px 1px 7px black;

    width: 100%;
    background-color: @MenuBgColor;
    color: @MenuFontColor;

    transition: all 200ms;


    input {
        text-align: center;
        display: block;
        background-color: @MenuInputColor;
        color: @MenuFontColor;
        border: none;
        font-size: @LargeFont;
        font-family: 'Roboto Mono', consolas, Monospace;
        color: white;
        width: 6em;
        height: 1em;
        margin: 18px auto;

        &:focus {
            outline: none;
        }
    }

    button {
        background-color: @MenuFontColor;
        color: @MenuBgColor;
    }

    &.closed {
        left: ~'calc( 100% + 5px )';
    }

    .tags {
        display: flex;
        flex-wrap: wrap;

        .tag {
            flex: 0 0 50%;
            display: block;
            text-align: center;


            &:nth-child(n + 2)::before {
                content: ""
            }

            &.active {
                background-color: @ColorTransparentLightBright;
            }
        }
    }
}

@menuWidth : @TabBarHeight * 3 / 2 + 1;

@media screen and (min-width: @ScreenLarge ) { 
    .menu {
        width: @menuWidth;
        max-width: @menuWidth;
        left: ~"calc( 100% - " @menuWidth  ~')';

        .tags {
            padding: 8px;
            .tag {
                flex: 0 0 100%;
                text-align: right;
            }
        }

        input {
            margin: 0px auto;
            height: @TabBarHeight / 2 - 2;
            width: 100%;
        }
    }
}
