@import "src/less/constants.less";

.player {
    position: fixed;
    z-index: 1;
    bottom: 0px;
    height: ~'calc( 100% - ' @TabBarHeight ~')';
    background-color: @ColorBarelyTransparentGray;
    text-align: center;
    right: 0px;
    overflow-y: auto;
    box-shadow: -2px 2px 3px @ColorTransparentDark;
    max-width: 600px + @TabBarHeight * 2;
    min-width: @TabBarHeight * 3;

    img.artist, img.track {
        width: 105px;
        height: 105px;
        margin-right: 0px;
        margin-left: auto;
        display: block;
    }
    
    .player-info {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: @TabBarHeight * 3 / 4;

        div {
            flex: 1 0 100%;
        }

        .channel {
            flex: 1 0 100%;
            text-align: center;
            margin-bottom: 18px;
        }

        .player-track {
            flex: 1 0 100%;

            .item {
                text-align: left;
            }
        }

        .past {
            margin: 12px auto;
            flex: 1 0 100%;
        }
    }

    .controls {
        position: fixed;
        display: flex;
        bottom: 0px;
        left: 0px;
        min-width: @TabBarHeight * 3 / 2;
        width: ~'calc( 100% - 70px )';
        height: @TabBarHeight * 3 / 4;
        flex-direction: row;
        margin: 3px;

        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            button {
                display: inline-flex;
                flex: 1 0 50%;
                align-items: center;
                justify-content: center;
                width: @TabBarHeight * 3 / 4;
                height: @TabBarHeight * 3 / 4;
                margin: 0px;
                border-radius: @TabBarHeight * 3/8;

                img {
                    margin: auto;
                }
            }
        }
    }

    .powered-by {
        position: fixed;
        bottom: 0px;
        right: 0px;
    }

    &.closed {
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        overflow: visible;

        img.track {
            width: @TabBarHeight * 3 / 2;
            height: auto;
        }

        .controls {
            right: @TabBarHeight * 3 / 2;
            width: @TabBarHeight * 3 / 2;
            left: auto;
            margin: 0px;

            .buttons {
                flex: 1 0 100%;
                flex-wrap: wrap;
            }
        }

        .powered-by {
            bottom: @TabBarHeight * 3 / 4;
            right: @TabBarHeight * 3 / 2;
            width: @TabBarHeight * 3 / 2;
        }

    }
}


@media screen and ( min-width: 740px ) {
    .player {
        min-width: @TabBarHeight * 3 / 2;

        img.track {
            width: 300px;
            height: 300px;
        }

        .track {
            .title, .name, .tags {
                background-color: @ColorTransparentDark;
            }
        }

        .player-info {
            .player-track {
                flex: 1 0 50%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .track {
                    display: inline-flex;
                    flex-direction: column;
                    position: relative;
                    width: 300px;
                    height: 300px;
                    max-height: 300px;

                    img {
                        width: 100%;
                        max-width: 300px;
                        height: auto;
                    }

                    .item-info {
                        position: absolute;
                        border: none;
                        padding: 0px;
                        margin: 0px;
                        top: 0px;
                        max-width: 300px;
                        height: 100%;
                        border: 15px solid;

                        .name {
                            margin-bottom: 20px;
                        }
                    }

                }
            }
        }

        .controls {
            left: auto;
            right: 60px;
            width: 670px;

            &.solo {
                width: 370px;
            }
        }

        &.closed {
            display: block;
            width: auto;

            .controls {
                bottom: @TabBarHeight * 3 / 2;
                height: @TabBarHeight * 3 / 2;
                right: 0px;

                .buttons {
                    flex-direction: row;

                    button {
                        flex: 1 0 100%;
                        border-radius: 0px;
                    }
                }

                &.solo {
                    width: @TabBarHeight * 3 / 2;
                }
            }

            .powered-by {
                bottom: @TabBarHeight * 3;
                width: @TabBarHeight * 3 / 2;
                right: 0px;
            }
        }
    }
}
