@import "src/less/constants.less";

.player .seeker {
    position: relative;
    min-height: @TabBarHeight * 3 / 2;
    flex: 1 0 auto;

    .bar {
        min-width: 100%;
        min-height: 100%;

        .buffer {
            min-height: 2px;
            background-color: white;
        }

        .thumb {
            position: relative;
            min-width: 8px;
            width: 8px;
            max-width: 8px;
            height: 20px;
            background-color: gray;
        }

        &::after {
            content: "";
            min-width: 100%;
            min-height: 2px;
            display: block;
            background-color: gray;
        }
    }
}

