@import "src/less/constants.less";

ul.tab-bar {
    display: flex;
    position: fixed;
    top: 0px;
    top: -1px;
    left: 0px;
    height: @TabBarHeight;
    width: 100%;
    transition: background-color 200ms ease-out,
                transform 150ms ease-out;

    z-index: 1;

    justify-content: center;
    list-style-type: none;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: @TabBarFontSize;
    font-weight: lighter;

    border-bottom: 1px solid @ColorLightBright;
    padding: 0px;

    li {
        display: inline-block;
        height: 50%;

        a {
            display: inline-block;
            height: 100%;
            width: 100%;
            text-align: center;
            transition: background-color 120ms ease-out;
        }

    }

    background-color: fadeout(@MainBgColor, 20%);

    .main-selectors {
        display: flex;
        flex: 1 0 1px;
        align-items: stretch;
        height: @TabBarHeight - 1;


        .selector {
            position: relative;
            color: @ColorNone;
            background-opacity: 1;
            height: 100%;
            line-height: @TabBarHeight/2;
            font-size: @TabBarFontSize;
            flex: 1 0 1px;
            text-align: center;
            max-height: 100%;

            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            border-left: 1px solid @ColorLightBright;

            overflow: hidden;

            transition: color 200ms;

            &:last-child {
                border-right: 1px solid @ColorLightBright;
            }

            a {
                padding-top: @TabBarPadTop;
                position: relative;
                word-break: break-all;
                z-index: 1;
            }

            img {
                position: absolute;
                transition: opacity 200ms;
                z-index: 0;
                top: 0px;
                left: ~'calc( 50% - ' @TabBarHeight/2 ~')';
                height: 100%;
            }

            &.active {

                color: white;
                img {
                    opacity: 0.12;
                }
            }
        }
    }

    .icon {
        padding: @TabBarHeight / 4 0px; 
        height: @TabBarHeight - 1;
        margin: auto;
        transition: all 150ms ease-out;

        &#homeIcon {
            margin-left: 0px;
        }

        &#settingsIcon {
            margin-right: 0px; 
        }

        img {
            transition: inherit;
            width: @TabBarHeight/2;
            height: auto;
        }

        a {
            &.active {
                color: @ActiveTabLinkFontColor;
                background-color: @ColorLightBright;
            }
        }
        
    }

    &.sub {
        height: auto;
        min-width: 100%;
        left: 0px;
        flex: 1 0 auto;
        top: @TabBarHeight - 1;
        border-bottom: none;
        box-shadow: 0px 5px 9px @ColorTransparentBarelyDark, 
                    0px 1px 1px rgba(255,255,255,0.08);

        justify-content: space-around;

        .selector {
            flex: 1 0 50%;
            font-size: @MediumFont;
            border-right: none;
        }

        a {
            color: @ColorLightBrighter;
            font-size: @TabBarFontSize - 2;

            &.active {
                background-color: fadeout(lighten(@MainBgColor, 35%), 20%);
            }
        }
    }
}

@media screen and (min-width: @ScreenNotSmall) {
    ul.tab-bar {

        .icon {
            padding: @TabBarHeight / 4;
        }
    }
}


@media screen and ( min-width: @ScreenMedium ) {
    ul.tab-bar {
        font-size: @TabBarBigFontSize;
        border-left: none;
        max-width: 100%;

        .main-selectors {
            justify-content: space-between;

            .selector {
                height: 100%;
                font-size: 1em;
                flex: 1 0 auto;
                border-bottom: none;
                color: @ColorLightBrighter;

                &.active {

                    color: @ColorTransparentLightDim;
                    img {
                        opacity: 1;
                    }
                }

                img {
                    opacity : 0.12;
                }
            }
        }

        .icon {
            width: @TabBarHeight * 3 / 2;
            padding: @TabBarHeight/4 @TabBarHeight/ 2;

            img {
                width: @TabBarHeight / 2;
            }
        }
    }
}

@media screen and (min-width: @ScreenLarge ) { 
    ul.tab-bar {
        .main-selectors {
            justify-content: center;
            .selector {
                flex: 0 0 auto;
                border: none;

                &:last-child {
                    border: none;
                }

            }
        }
    }
}
