@import "src/less/constants.less";

.tab {
    display: flex;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    padding: 2px 4px;
    //max-height: ~'calc(100% - ' @TabBarHeight~')';
    flex-direction: column;
    overflow-y: auto;

    .info {
        img {
            width: @TabBarHeight * 3 / 2;
        }

        .item {
            margin: 0px;

        }

        .track {
            .name {
                display: none;
            }

            br {
                display: none;
            }
        }

        a.internal {
            vertical-align: top;
            margin-left: 10px;
        }
    }

    &.home {
        p {
            text-align: left;
        }
        span {
            vertical-align: middle;
            margin-right: 0.3em;
        }
        
        img {
            vertical-align: middle;
        }
    }
}

@media screen and ( min-width: @ScreenMedium ) {
    .tab {
        padding: 4px ( @TabBarHeight * 3 / 2 );
        flex-direction: column;
        overflow-y: auto;
        
        &.scrolled {
            .tab-bar {
                transform: translateY(-@TabBarHeight/2);
            }
        }
    }
}
