@import "src/less/constants.less";

.tags {
    border-top: 1px solid @ColorLightDim;
    align-self: flex-end;

    .tag {
        user-select: none;
        display: inline-block;
    }

    .tag:nth-child(n + 2)::before {
        content: "×"
    }

    .tag.confirm {
        background-color: red;
    }
}
