@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:100';

@import "src/less/constants.less";


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0px;
}


body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    display: block;
    min-width: 212px;
    background-color: @MainBgColor;
    overflow-y: scroll;

    color: @MainFontColor;
    font-family: 'Roboto Mono', consolas, Monospace;
    font-size: @MediumFont;
    
    min-width: 228px;
    overflow-x: auto;
        
    -webkit-tap-highlight-color: @ColorLightDim;
}

a {
    color: inherit;
    text-decoration: none;

    &:visited, &:active {
        text-decoration: none;
        color: inherit;
    }
}

div {
    &>a {
        background-color: @ColorLightDim;

        &.internal {
            font-size: @LargeFont;
            background-color: initial;
            border: 1px solid @ColorLightDim;
        }
    }

    &.tag {
        cursor: default;
    }

    .item-info {
        position: relative;
        margin-left: 10px;
        border: 1px solid @ColorLightDim;
        width: 100%;
        padding-left: 4px;
        padding-bottom: 25px;

        .name, .title {
            display: inline-block;
        }

        .tags {
            margin: 0px 12px;
            position: absolute;
            bottom: 0px;
            right: 0px;

        }

        .title {
            flex: 1 1 auto;
        }
    }

    &.item {
        display: flex;
        margin: 10px 5px;

        a {
            display: inline-block;
            background: none;
        }
    }

    &.channels {
        display: flex;
        flex-wrap: wrap;

        .channel {
            padding: 40px 20px;
            cursor: default;

            .tags {
                display: inline-block;
                width: auto;
                margin: 0px auto;
            }
        }
    }

    &.description {
        white-space: pre-wrap;
        max-width: 100%;
        word-break: break-word;
        overflow-x: hidden;
    }

    &.powered-by {
        width: auto;
        margin: 0px auto;
        text-align: center;
    }
}


app-bg {
    display: block;
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    //transition: opacity 300ms;

    svg {
        transition: fill 500ms,
                    transform 300ms,
                    height 500ms,
                    opacity 300ms;

        transition-delay: 0ms;
    }

    mask {
        transition: inherit;
    }

    g {
        transition: inherit;
    }

    circle {
        transition: inherit;
        transform-origin: bottom;
    }

    rect {
        transition: inherit;
        transform-origin: top;
    }
}

app-fg {
    display: block;
    position: relative;
    padding-top: @TabBarHeight * 3 / 2;
    width: 100%;
    height: 100%;

    z-index: 1;
}

button {
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 5px 15px 15px 15px;
    padding: 3px 12px;

    font-family: 'Roboto', consolas, Monospace;
    font-size: @MediumFont;
    color: inherit;
    background-color: @ColorDark;

    outline: 0;

    &:active {
        background-color: @ColorLightBright;
    }
}

img {
    &.track {
        min-width: @TabBarHeight * 3 / 2;
        height: @TabBarHeight * 3 / 2;
        transition: opacity 250ms;
        opacity: 1;

        &.notloaded {
            opacity: 0.2;
            background-image: url("/images/waveform.svg");
        }

    }
}

@media screen and ( min-width: @ScreenMedium ) {
    div {
        &.item {
            margin: 18px 0px;
        }
    }
}

@import "src/less/seeker.less";
@import "src/less/tags.less";
@import "src/less/menu.less";
@import "src/less/tab.less";
@import "src/less/player.less";
@import "src/less/tab-bar.less";
@import "src/less/hover.less";
